body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
	/*float:left;*/
	z-index: 1
}

video {
	/*float:left;*/
	/*position:absolute;*/
	z-index: -1;
}

#resultColor {
	background-color: yellow;
	width:20px;
	height:20px;
}



#container {
  height: 800px; 
  min-width: 310px; 
  max-width: 800px;
  margin: 0 auto;
}

.viewWindow {
	width:320px;
	height:240px;
}