body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
	float:left;
	z-index: 1
}

video {
	float:left;
	position:absolute;
	z-index: -1;
}